@tailwind base;
@tailwind components;
@tailwind utilities;

.blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    z-index: 0; /* Garante que fique atrás do conteúdo */
    pointer-events: none; /* Impede que a blob interfira nos cliques da tela */
}